.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 10vh;
    width: 100vw;
    background-image: url("../icons/mario-s-room-wallpaper-1152x768_36.jpg");
    background-repeat: repeat;
}

